# Global access
*       @Barthelemy @knopers8 @justonedev1

# Detectors
/Modules/TOF/      @ercolessi
/Modules/EMCAL/    @jokonig @Barthelemy @knopers8
/Modules/TPC/      @wiechula @makor
/Modules/MFT/      @AlexianL
/Modules/ITS/      @iravasen @IsakovAD
/Modules/TRD/      @martenole @bazinski
/Modules/FOCAL/    @mfasDa @fjonasALICE
/Modules/FIT/      @andreasmolander @afurs @jotwinow @sahilupadhyaya92
